body {
    max-width: 100%;
    min-width: 320px;
    min-height: 1000px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #E8122F;
    /*-webkit-font-smoothing: antialiased;*/
}

/** {
  box-sizing: border-box;
}*/
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.flex {
  display: flex;
  margin-left: 4.6875%;
}

.flex.col {
  flex-direction: column;
}

.flex.table-row {
  margin-top: 4.6875%
}

.toolbar-icon {
  display: block;
  margin-left: auto;
}

#toolbar {
  width:100%;
  position: fixed;
  z-index: 1;
  bottom: 0%;
  padding: 15 15 15 15;
  background-color: #E8122F;
}

#contact-icon {
  margin-right: 15px;
}

#nav-icon {
  display: block;
  margin: 14.6875% auto 4.6875% auto;
}

#big-name {
  display: block;
}


#intro-text {
  margin: 14.0625% 0 0 10.9375%;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Scope One', serif;*/
  /*font-family: 'Abel', sans-serif;*/
  font-size: 24px;
  font-weight: 100;
  color: #E0E0E0;
}

.section-header {
  margin: 0 4.6875% 0 4.6875%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 86px;
  font-weight: 900;
  color: #E0E0E0;
  background-color: #E8122F;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.body-text {
  margin-left: 4.6875%;
  margin-right: 4.6875%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #E0E0E0;
}

.block-header {
  margin-left: 4.6875%;
  margin-right: 4.6875%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E0E0E0;

}

.edu-header {
  margin: 0 4.6875% 0 4.6875%;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E0E0E0;
}

.skill-header {
  margin: 0;
  width: 40%;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E0E0E0;
}

p.skill-item {
  margin: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E0E0E0;
}
